<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<% if Review.find_by(restaurant: @restaurant) %>
  <p><%= Review.find_by(restaurant: @restaurant).rating %></p>
<% end %>




